body{
  background-color: lightgray;
}

.container{
  width: 500px;
  margin: 0 auto;
  /* height: 500px;
  background-color: tomato;
 */
}

.todoHeader{
  background-color: aliceblue;
  padding: 30px;

}

.todoSection{
  background-color: pink;
  padding: 10px 30px;
}

button{
  margin-left: 30px;
}